body{
	background-color: #c0c0c0;
}

h1.pos_center{
	color:red;
	text-align:center;
}

.trigger{
  color:#CC0000;
  background-color:#808080;
  font-family:courier;
  font-size: 250%;
  
  height:100px;
  width:200px;
  margin-left: -100px;
  padding-left: 15px;
  
  position:relative;
  left:50%;
  top: 200px;
  
  border: 1px;
  border-radius: 15px;
  text-decoration:none;
  }
  
  .trigger:hover{
    background-color:#606060;
    
  }
  
  .trigger:focus{
    outline: 0;
   }
   
 #score{
  height: 100px;
  width: 300px;
  margin-left: -150px;
  
  position:relative;
  left:50%;
  top:50px;
  
  border:5px solid;
  border-radius:5px;
  border-color:orange;
  
  text-align:center;
  font-size:85px;
}